.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  background-image: url(./assets/mountain.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.quotes {
  
    background-color:#fff;
    color: black;
    padding:20px;
    margin: auto;
    border-radius:10px;
    box-shadow:3px 3px 10px #0009;
    max-width:600px
   
}

.img {
  max-width: 35px;
  max-height: 35px
}